tmpDir = "<tempdirectoryforlogging>"
vixDiskLib.transport.LogLevel = "1"
vixDiskLib.disklib.EnableCache = "0"
vixDiskLib.nfc.AcceptTimeoutMs = "-1"
vixDiskLib.nfc.RequestTimeoutMs = "-1"
vixDiskLib.nfc.ReadTimeoutMs = "-1"
vixDiskLib.nfc.WriteTimeoutMs = "-1"
vixDiskLib.nfc.TimeoutMs = "0"
vixDiskLib.nfcFssrvrWrite.TimeoutMs = "180000"
vixDiskLib.nfc.LogLevel = "1"
